<h1>Hola, <%= @request.project.organization.name %></h1>
<p>
  Se ha registrado una nueva solicitud para unirse a este proyecto que creaste: "<%= @request.project.title %>"<br>
</p>
<p>
  Para obtener más detalles, entra en: <a href= "http://localhost:3000"></a>
</p>
<p>¡Que tengas un buen día!</p>
