<br><br><br>
<div class="container text-center">
    <h1 class="display-4">Hola, <%= @name %>. Tu solicitud se ha registrado correctamente</h1>
    <p class="lead">La organización recibirá un correo notificándole de que has solicitado participar en este proyecto
    y podrán ponerse en contacto contigo si eres elegido para unirte a él</p>
</div>