<br><br><br>
  <div class="jumbotron">
    <h1 class="display-4">1. Las ONG's registran un proyecto</h1>
    <p class="lead">Las ONG's anuncian aquí sus proyectos de voluntariado y especifican qué perfil de voluntario necesitan, las horas de dedicación que tendrías que dedicarle, el número de plazas disponibles, etc.</p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">2. Entra en voluntariados</h1>
    <p class="lead">Echa un vistazo a los voluntariados anunciados y busca el que encaje mejor con tus habilidades, tu perfil, el tiempo del que dispones...</p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">3. ¿Te interesa?</h1>
    <p class="lead">Una vez que encuentres el proyecto ideal para ti, solo tienes que "aplicar" en él. Para esto rellena el formulario que aparecerá abajo del proyecto y envía tu solicitud.</p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">4. ¿Aceptado o denegado?</h1>
    <p class="lead">En cuanto envíes tu solicitud, a la ONG que organiza el proyecto le llegará un correo avisándole de que tiene una nueva solicitud para su proyecto. La ONG valorarán las distintas candidaturas y si les interesa tu perfil podrán contactar contigo para avisarte de que...¡ya estás dentro!</p>
  </div>
<br><br><br>


