<div class="display-4 text-center">Eres necesario</div>
<br>
<div class="lead text-center"> 
Encuentra proyectos de voluntariado, envía tu solicitud y ayuda a personas a ser un poco más felices en su día a día
</div>

<%= link_to "VOLUNTARIADOS", projects_path, class: "btn btn-primary" %>
<%= link_to "ORGANIZACIONES", organizaciones_path, class: "btn btn-primary" %>