    
<% if organization_signed_in? && current_organization == @project.organization %> 
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <%= 
            tab_1_class = active == 1? "nav-link active": "nav-link"
            link_to "Información", @project, class: tab_1_class
        %>
    </li>
    <li class="nav-item">
        <%= 
            tab_2_class = active == 2? "nav-link active": "nav-link"
            link_to "Solicitudes", show_requests_path(id: @project.id), class: tab_2_class %>
    </li>
    </ul>
<% end %>